@charset "utf-8";
/* 
coding rules:
S : start
E : end
 */

/* reset */
/* S */
* {
  margin: 0px;
}


body {
  height: 100vh;
}

header {
  height: 10vh;
  background-color: red;
}


main {
  height: 80vh;
  background-color: greenyellow;
}

footer {
  height: 10vh;
  background-color: blue;
}

/* E */

/* header */
/* S */
header h1 {
  font-size: 5vh;
  text-align: center;
}


/* E */

/* main */
/* S */
/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;
  vertical-align: middle;
}

/* E */

/* タブのスタイル */
/* S */
.tab-items {
  width: calc(100% / 3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease;
}

.tab-items:hover {
  opacity: 0.75;
}

/* E */

/* ラジオボタンをすべて消す */
/* S */
input[name="tab-item"] {
  display: none;
}

/* E */

/* タブ切り替えの中身のスタイル */
/* S */
.tab-content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

/* E */


/* 選択されているタブのコンテンツのみを表示 */
/* S */
#all:checked~#all-content,
#programming:checked~#programming-content,
#design:checked~#design-content {
  display: block;
}

/* E */

/* 選択されているタブのスタイルを変える */
/* S */
.tabs input:checked+.tab-item {
  background-color: #5ab4bd;
  color: #fff;
}

/* E */

/* footer */
/* S */

/* E */