@charset "utf-8";
/* 
coding rules:
S : start
E : end
 */

/* reset */
/* S */
* {
  margin: 0px;
}


body {
  height: 100vh;
}

header {
  height: 10vh;
  background-color: red;
}


main {
  height: 80vh;
  background-color: blue;
}

footer {
  height: 10vh;
  background-color: green;
}

/* E */