* {
  background-color: black;
}

#alertMessage {
  font-size: 24px;
  color: red;
}

.box-alert {
  position: relative;
  padding: 2rem;
  background-color: #040404;
}

.box-alert::before,
.box-alert::after {
  position: absolute;
  height: 10px;
  width: 100%;
  content: '';
}

.box-alert::before {
  top: 5px;
  left: 0;
}

.box-alert::after {
  bottom: 5px;
  left: 0;
}

.box-alert i {
  margin-right: 0.5rem;
}

.box-alert>a {
  cursor: pointer;
  margin-left: auto;
}


.alert-title,
.box-alert p {
  font-family: 'Noto Serif JP', serif;
  text-align: center;
  transform: scaleY(1.5);
  letter-spacing: -0.1rem;
}

.alert-title {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 2rem;
}

.box-alert-warning {
  color: #FAD333;
}

.box-alert-warning::before,
.box-alert-warning::after {
  background: repeating-linear-gradient(-45deg, transparent 0 4px, #FAD333 4px 8px);
}

/* .header-footer-conf { */
/* list-style: none; */
/* display: flex; */
/* } */

.header-list {
  list-style: none;
  display: flex;
}

.header-list span {
  margin: 1rem;
}

header {
  color: red;
  /* background-color: #040404; */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Noto Serif JP', serif;
}

.copyright {
  text-align: center;
  color: red;
  font-size: 0.2rem;
  font-weight: 900;
  margin: 1rem;
  display: flex;
}

.footer-copyright {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.evacuation-site {
  display: flex;
  justify-content: space-around;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  height: 320px;
}

.evacuation-site h2 {
  font-size: 2.5rem;
}

.evacuation-site span {
  font-size: 1.5rem;
}

.heading-evacuation-site {
  padding-top: 2rem;
  padding-bottom: 0px;
  padding-left: 4rem;
}

/* ここからスマホ版の設定 レスポンシブ対応 */
@media (max-width: 800px) {
  .evacuation-site {
    display: flex;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
    height: 400px;
  }

  .box-alert-warning {
    height: 500px;
  }

}
